@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes neonPulse {
  0%,
  100% {
    text-shadow: 0 0 5px #ff00de, 0 0 10px #ff00de, 0 0 20px #ff00de,
      0 0 40px #ff00de;
  }
  50% {
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff,
      0 0 80px #00ffff;
  }
}

.neon-text {
  animation: neonPulse 2s infinite;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float-animation {
  animation: floatAnimation 5s ease-in-out infinite;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
